#menumobile{
width:100vw;
height: calc(250px - 5em);
position: fixed;
background-color: var(--bs-crimson);
right: 0;
top: 5rem;
transition: all .5s ease;
opacity: 
70%;
display: none;
}
#menuhamb{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;

}
.menu-line{
    width: 25px;
    height: 3px;
    margin-top: 3px;
    background-color: var(--bs-crimson);
    

}
.list-nav--menu-mobile{
    color: var(--bs-white);
    ;
}
.list-nav--menu--mobile{
    position: absolute;
    left: 50%;
    top: 25px;
    z-index: 999;
    cursor: pointer;
    
}
.nav--mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    cursor: pointer;
}

#social-mobile--body{
    display: flex;
    border-top:1px solid#4b4b4b4b;
    width: 100%;
    justify-content: center;
    align-items: center;
    
    }
    #social-mobile{
        display: none;
        justify-content: center;
        align-items: center;
        padding: 5px;
        height: 100%;
    }
    #social-mobile a{
    margin-right: 5px;
    }

@media (max-width: 639px) and (min-width:426px){
    #menuhamb{
        display: flex;
}
#social-mobile{
    display: flex;
}
}
@media (max-width: 425px){

    #menuhamb{
            display: flex;
    }

    #social-mobile{
        display: flex;
    }
}

@media (max-width: 359px){

    #menuhamb{
        display: flex;
}

#social-mobile{
    display: flex;
}

}